.chartContent {
    background-color: orange;
    height: 500px;
    outline: 1px solid black;
    width: 700px;
}

svg {
    background-color: aqua;
    /* height: 480px;
    margin: 10px;
    outline: 1px solid black;
    width: 680px; */
}

.line {
    fill: none;
    stroke: blue;
    stroke-width: 3;
}

.overlay {
    fill: none;
    pointer-events: all;
}

/* Style the dots by assigning a fill and stroke */

.dot {
    fill: blue;
    stroke: #fff;
}

.focus circle {
    fill: none;
    stroke: steelblue;
}